.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  margin: auto 0;
  padding-right: 12px;

  line-height: 18px;
}

.copyright__link {
  width: 27px;
  height: 34px;
}

@media (min-width: @tablet-width) {
  .copyright__text {
    padding-top: 7px;
  }

  .copyright__link {
    padding-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    padding-top: 0;
    padding-right: 11px;
    font-size: 18px;
  }
}
