.loads {
  text-align: center;
}

.loads__list {
  display: flex;
  justify-content: space-between;

  padding: 0;
  list-style: none;
}

.loads__link {
  color: inherit;
}

.loads__main-link {
  display: block;

  color: inherit;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  padding-top: 28px;
}

.loads__legend {
  font-weight: 300;
}
