.loads {
  text-align: center;
}

.loads__list {
  display: flex;
  justify-content: center;

  margin: 0;
  margin-bottom: 19px;
  padding: 0;

  list-style: none;
}

.loads__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.loads__link {
  position: relative;
  display: block;

  width: 47px;
  height: 56px;

  color: inherit;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;

    background-color: @bg-darkblue;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    transform: translate(-50%, -50%);
  }

  &--apple::after {
    width: 47px;
    height: 56px;

    background-image: url("../img/logo-apple.svg");
  }

  &--android::after {
    width: 43px;
    height: 47px;

    background-image: url("../img/logo-android.svg");
  }

  &--win::after {
    width: 44px;
    height: 41px;

    background-image: url("../img/logo-microsoft.svg");
  }
}

.loads__main-link {
  display: block;

  padding: 17px 0;
  margin-bottom: 33px;
  width: 274px;

  border: 3px solid white;
  border-radius: 35px;

  color: inherit;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.loads__legend {
  margin: 0;

  font-weight: 300;
}
