.loads{
  background-color: #1d2631;
  color: white;
}

.loads__main-link{
  display: block;

  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  padding-top: 28px;
}

.loads__legend{
  font-weight: 300;
}
