.logo {
  outline: none;

  &--footer {
    width: 147px;
    height: 40px;
  }

  &:focus,
  &:hover .logo__image g {
    fill: @style-red;
  }

  &:active .logo__image g {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.logo--footer .logo__image {
  width: 147px;
  height: 40px;

  background-color: white;
}

@media (min-width: @tablet-width) {
  .logo__image {
    width: 147px;
    height: 40px;
  }
}
