.logo {
  width: 75px;
  height: 22px;
}

.logo__image {
  background-color: @bg-darkblue;

  &--footer {
    background-color: white;
  }
}

@media (min-width: @tablet-width) {
  .logo {
    width: 147px;
    height: 40px;
  }
}
