.page-footer {
  text-align: center;
  min-height: 284px;
  box-sizing: border-box;
}

.page-footer--index {
  display: none;
}

.page-footer__logo {
  display: inline-block;

  margin: 39px 0;
}

.page-footer__social {
  margin-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    min-height: 127px;

    padding-top: 36px;
  }

  .page-footer--index {
    display: flex;
  }

  .page-footer__social {
    margin: 0;
    padding-top: 2px;
  }

  .page-footer__logo {
    margin: 0;
    margin-right: -15px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    min-height: 170px;
    padding-top: 44px;

    &--index {
      min-height: 205px;
      padding-top: 72px;
    }
  }

  .page-footer--index .page-footer__social {
    margin-left: -7px;
  }

  .page-footer__logo {
    margin-right: 14px;
  }
}
