.page-footer {
  text-align: center;
  min-height: 284px;
}

.page-footer--index {
  display: none;
}

.page-footer__logo {
  display: inline-block;

  margin: 38px 0;
}

.page-footer__social {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
  }

  .page-footer--index {
    display: flex;
  }

  .page-footer__social {
    margin: 0;
    padding-top: 2px;
  }

  .page-footer__logo {
    margin: 0;
    margin-right: -15px;
  }

  .logo--footer {
    margin-top: -16px;
  }

  .page-footer__copyright {
    margin-top: -7px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    min-height: 145px;
  }

  .page-footer__logo {
    margin-right: 14px;
  }
}
