.photos__intro{
  line-height: 30px;
}

.photos__list{
  list-style: none;
}

.photos__info-wrapper{
  background-color: #f2f2f2;
}

.photos__time{
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photos__likes{
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}
