.photos__intro {
  margin-top: 45px;
  margin-bottom: 49px;
  padding: 0 17px;

  text-align: center;
  line-height: 30px;
}

.photos__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.photos__item {
  position: relative;
  margin-bottom: 20px;

  &--main img {
    position: relative;
    left: -20px;
    max-width: @mobile-width;
  }

  &--main::before {
    content: "Панорама дня";
    position: absolute;
    z-index: 1;
    right: -1px;
    width: 140px;
    height: 31px;

    padding-top: 5px;

    text-align: center;
    text-transform: uppercase;

    font-size: 13px;
    color: white;
    background-color: #d22856;
  }
}

.photos__image {
  vertical-align: top;
}

.photos__info-wrapper {
  padding: 18px 18px;
  padding-bottom: 22px;

  background-color: @bg-lightgray;
}

.photos__author {
  margin: 0;
}

.photos__comment {
  margin: 0;
  margin-bottom: 7px;
}

.photos__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photos__likes {
  position: relative;
  margin-left: 31px;

  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;

  &::before {
    content: "";
    position: absolute;
    left: -31px;
    top: 3px;

    width: 13px;
    height: 12px;

    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .photos__intro {
    margin-top: 92px;
    margin-bottom: 75px;
    padding: 0 90px;

    font-size: 18px;
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photos__item {
    margin-bottom: 20px;
  }

  .photos__item:not(.photos__item--main) {
    display: flex;
    flex-direction: column;
    width: 300px;

    & img {
      width: 300px;
      height: 300px;
    }
  }

  .photos__item--main {
    width: @tablet-width - 40px;
    margin-bottom: 50px;

    &::before {
      right: 0;
      top: 58px;
    }
  }

  .photos__item--main img {
    width: @tablet-width;
    max-width: @tablet-width;
    height: 509px;
  }

  .photos__item--main .photos__likes {
    position: absolute;
    right: 60px;

    &::before {
      left: 107px;
      top: 5px;
    }
  }

  .photos__info-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 24px 28px;
    padding-bottom: 15px;
  }

  .photos__comment {
    flex-grow: 1;
    margin-bottom: 10px;
    min-height: 48px;
  }

  .photos__likes {
    margin-bottom: 10px;
    margin-left: 0;

    &::before {
      left: 93%;
      top: 7px;
    }
  }
}

@media (min-width: @desktop-width) {
  .photos__intro {
    width: 640px;
    margin: auto;
    margin-top: 93px;
    margin-bottom: 86px;
  }

  .photos__item {
    margin-bottom: 53px;
  }

  .photos__item--main {
    width: 940px;

    & img {
      left: -130px;
      width: @desktop-width;
      max-width: @desktop-width;
    }
  }

  .photos__item--main .photos__likes {
    right: 62px;
  }

  .photos__item:not(.photos__item--main) img {
    height: 400px;
  }

  .photos__info-wrapper {
    padding-top: 22px;
  }
}
