.price {
  padding-top: 75px;

  background-color: @bg-lightgray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 101% auto;
}

.price__list {
  width: 1120px;
  transform: translateX(-560px);
  border-collapse: collapse;
}

.price__list-head {
  color: white;
  background-color: @bg-darkblue;
}

.price__list th {
  width: 25%;
  padding: 0;
  box-sizing: border-box;

  border: 2px solid white;
}

.price__list td {
  padding-left: 22px;

  background-color: white;
  border: 2px solid @bg-lightgray;
}

.price__list-head tr {
  height: 94px;
}

.price__list-body tr {
  height: 59px;
}

.price__hidden-cell {
  background-color: @bg-lightgray;
}

.price__name {
  display: block;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.price__cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.price__option {
  line-height: 30px;
  text-transform: uppercase;
}
